{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="media/mystyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://unpkg.com/@popperjs/core@2" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="media/tablesorter.js"></script>
    <script src="media/arrows.js"></script>
  </head>
<body>
    <nav class="navbar navbar-expand-lg" style="height: 62px; width: 1512 px; background-color: #40946C;">
        <div class="container-fluid">
          <span class="navbar-text ">
            <img class="mx-auto" src="{% static 'CRG_White.png' %}" alt="EGA" style="height: 32.8px; padding-right: 62px; padding-left: 35px;">
          </span>
          <a class="navbar-brand " href="/" ><p class="bi bi-patch-check mx-auto p-2 fw-bold ms-5" style="color: white; height: 32.8px;">Beacon Verifier</p></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          </div>
        </div>

      </nav>
      
            <div class="row">

            <div class="col-4" style="background-color: #EEEEEE;">
          

              <div class="row">
                <div class="col">
                  <form id="your-form" method="post" style="padding: 34px 61px 34px 61px; width: 100%">
                    {% csrf_token %}
                    <div class="row"><div>
                    {% for f in form %}
                    <b>{{f.help_text|safe}} {{f}} </b>   
                    {% endfor %}
                </div>

              </div>

                    <div class="mb-3" id="messages"></div>
                    <button id="primerbutton" type="submit" class="vbut bi bi-play" style="  background-color: #40946C;
                    border: none;
                    width: 48%;
                    color: white;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 16px;"> Start</button>
                    <button type="disabled" value="si" onclick="functionToExecute()" id="stop-btn" class="vbut bi bi-stop" style="  background-color: #ddd;
                    border: none;
                    width: 48%;
                    color: black;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 16px;"> Stop</button>
                  <div style="margin-top: 30px;">

                </div>
                
                  <div style="padding-left: 50px; padding-right: 25px;">
                    <div style="position: relative; right: 50px; top: 10px;"><span id="pdot" class="dot">
                      <span id="dot21" class="dot2" style="position: relative; left: 11px; top: 7px"></span>
                      <span id="dot22" class="dot2" style="position: relative; left: 11px; top: 7px"></span>
                      <span id="dot23" class="dot2" style="position: relative; left: 11px; top: 7px"></span>
                    </span><span id="myPercent" style="font-size: 18px; color: #999999; position: relative; bottom: -5px; left: 5px; font-weight: bold;">0%</span>
                      <span id ="myPercentext" style="font-size: 12px; color: #999999; position: relative; bottom: -5px; left: 5px;">Paste URL and start verification</span></div>
                  <div id="myProgress" style="width: 100%; background-color: #E0E0E0; border-radius: 50px;">
                    <div id="myBar" style="width: 0%; height: 9px; background-color: #636363; border-radius: 50px;"></div>
                  </div>
                </div>

                  
                  </form>
                  {% if success %}
                  {% if 'CONGRATULATIONS' in success %}
                  <div class="green"><b>{{success}}</b></div>
                  {% else %}
                  <div class="red"><b>{{success}}</b></div>
                  {% endif %}
                  {% endif %}

                  <div style="position: absolute; top: 800px; left: 61px; max-width: 400px;">

                    <p><b style="font-weight: 12px;">In association with:</b></p>
                    <img src="{% static 'logo.png' %}" alt="EGA" height="40px" style="padding-right: 10px;">
                    <img src="{% static 'bsc.webp' %}" alt="BSC" height="80px" style="padding-right: 10px;">
                    <img src="{% static 'elixir.png' %}" alt="Elixir" height="60px">
                    <img src="{% static 'GA-logo.png' %}" alt="GA4GH" height="40px" style="padding-right: 10px;">
                    <img src="{% static 'Ebi_official_logo.png' %}" alt="EBI" height="40px" style="padding-right: 10px;">
                    
                  </div>


                  
            </div>

            </div>
                
              
                
            </div>  
            <div class="col" style="height: 1000px; overflow: scroll;">
              <div id="messages" style="display: none;">
            </div>
            <div id="beaconparams" hidden="hidden" class="card m-2">
              <div class="card-header">
              <div id="bid" hidden="hidden"><b>This is the id of the beacon you are validating: </b><a id="beaconId"></a></div>
              <div id="bname" hidden="hidden"><b>The beacon's name you are validating is: </b><a id="beaconName"></a></div>
              <div id="bversion" hidden="hidden"><b>The beacon's version is: </b><a id="beaconVersion"></a></div>
            </div>
            </div>

            <div id="cardinitial" hidden="hidden" class="card m-2">
              <div id="results_validation" class="card-header">
                <b><a id="result_validation" style="display: block"></a></b>
                <a id="resulted_validation" style="display: block"></a>
              </div>
            </div>
            <div id="card0" hidden="hidden" class="card m-2">
              <div id="results0_validation" class="card-header">
                <b><a id="result0_validation" style="display: block"></a></b>
                <div></div>
                <a id="resulted0_validation" style="display: block"></a>
              </div>
            </div>
              <div id="card1" hidden="hidden" class="card m-2">
              <div id="results1_validation" class="card-header">
                <b><a id="result1_validation" style="display: block"></a></b>
                <div></div>
                <a id="resulted1_validation" style="display: block"></a>
              </div>
              </div>
              <div id="card2" hidden="hidden" class="card m-2">
                <div id="results2_validation" class="card-header">
                  <b><a id="result2_validation" style="display: block"></a></b>
                  <div></div>
                  <a id="resulted2_validation" style="display: block"></a></b>
                </div>
                </div>
                <div id="card3" hidden="hidden" class="card m-2">
                  <div id="results3_validation" class="card-header">
                    <b><a id="result3_validation" style="display: block"></a></b>
                    <div></div>
                    <a id="resulted3_validation" style="display: block"></a></b>
                  </div>
                  </div>
                  <div id="card4" hidden="hidden" class="card m-2">
                    <div id="results4_validation" class="card-header">
                      <b><a id="result4_validation" style="display: block"></a></b>
                      <div></div>
                      <a id="resulted4_validation" style="display: block"></a></b>
                    </div>
                    </div>
                    <div id="card5" hidden="hidden" class="card m-2">
                      <div id="results5_validation" class="card-header">
                        <b><a id="result5_validation" style="display: block"></a></b>
                        <div></div>
                        <a id="resulted5_validation" style="display: block"></a></b>
                      </div>
                      </div>
                      <div id="card6" hidden="hidden" class="card m-2">
                        <div id="results6_validation" class="card-header">
                          <b><a id="result6_validation" style="display: block"></a></b>
                          <div></div>
                          <a id="resulted6_validation" style="display: block"></a></b>
                        </div>
                        </div>
                        <div id="card7" hidden="hidden" class="card m-2">
                          <div id="results7_validation" class="card-header">
                            <b><a id="result7_validation" style="display: block"></a></b>
                            <div></div>
                            <a id="resulted7_validation" style="display: block"></a></b>
                          </div>
                          </div>
                          <div id="card8" hidden="hidden" class="card m-2">
                            <div id="results8_validation" class="card-header">
                              <b><a id="result8_validation" style="display: block"></a></b>
                              <div></div>
                              <a id="resulted8_validation" style="display: block"></a></b>
                            </div>
                            </div>
                            <div id="card9" hidden="hidden" class="card m-2">
                              <div id="results9_validation" class="card-header">
                                <b><a id="result9_validation" style="display: block"></a></b>
                                <div></div>
                                <a id="resulted9_validation" style="display: block"></a></b>
                              </div>
                              </div>
                              <div id="card10" hidden="hidden" class="card m-2">
                                <div id="results10_validation" class="card-header">
                                  <b><a id="result10_validation" style="display: block"></a></b>
                                  <a id="resulted10_validation" style="display: block"></a></b>
                                </div>
                                </div>
                                <div id="card11" hidden="hidden" class="card m-2">
                                  <div id="results11_validation" class="card-header">
                                    <b><a id="result11_validation" style="display: block"></a></b>
                                    <a id="resulted11_validation" style="display: block"></a></b>
                                  </div>
                                  </div>
                                  <div id="card12" hidden="hidden" class="card m-2">
                                    <div id="results12_validation" class="card-header">
                                      <b><a id="result12_validation" style="display: block"></a></b>
                                      <a id="resulted12_validation" style="display: block"></a></b>
                                    </div>
                                    </div>
                                    <div id="card13" hidden="hidden" class="card m-2">
                                      <div id="results13_validation" class="card-header">
                                        <b><a id="result13_validation" style="display: block"></a></b>
                                        <a id="resulted13_validation" style="display: block"></a></b>
                                      </div>
                                      </div>
                                      <div id="card14" hidden="hidden" class="card m-2">
                                        <div id="results14_validation" class="card-header">
                                          <b><a id="result14_validation" style="display: block"></a></b>
                                          <a id="resulted14_validation" style="display: block"></a></b>
                                        </div>
                                        </div>
                                        <div id="card15" hidden="hidden" class="card m-2">
                                          <div id="results15_validation" class="card-header">
                                            <b><a id="result15_validation" style="display: block"></a></b>
                                            <a id="resulted15_validation" style="display: block"></a></b>
                                          </div>
                                          </div>
                                          <div id="card16" hidden="hidden" class="card m-2">
                                            <div id="results16_validation" class="card-header">
                                              <b><a id="result16_validation" style="display: block"></a></b>
                                              <a id="resulted16_validation" style="display: block"></a></b>
                                            </div>
                                            </div>
                                            <div id="card17" hidden="hidden" class="card m-2">
                                              <div id="results17_validation" class="card-header">
                                                <b><a id="result17_validation" style="display: block"></a></b>
                                                <a id="resulted17_validation" style="display: block"></a></b>
                                              </div>
                                              </div>
                                              <div id="card18" hidden="hidden" class="card m-2">
                                                <div id="results18_validation" class="card-header">
                                                  <b><a id="result18_validation" style="display: block"></a></b>
                                                  <a id="resulted18_validation" style="display: block"></a></b>
                                                </div>
                                                </div>
                                                <div id="card19" hidden="hidden" class="card m-2">
                                                  <div id="results19_validation" class="card-header">
                                                    <b><a id="result19_validation" style="display: block"></a></b>
                                                    <a id="resulted19_validation" style="display: block"></a></b>
                                                  </div>
                                                  </div>
                                                  <div id="card20" hidden="hidden" class="card m-2">
                                                    <div id="results20_validation" class="card-header">
                                                      <b><a id="result20_validation" style="display: block"></a></b>
                                                      <a id="resulted20_validation" style="display: block"></a></b>
                                                    </div>
                                                    </div>
                                                    <div id="card21" hidden="hidden" class="card m-2">
                                                      <div id="results21_validation" class="card-header">
                                                        <b><a id="result21_validation" style="display: block"></a></b>
                                                        <a id="resulted21_validation" style="display: block"></a></b>
                                                      </div>
                                                      </div>
                                                      <div id="card22" hidden="hidden" class="card m-2">
                                                        <div id="results22_validation" class="card-header">
                                                          <b><a id="result22_validation" style="display: block"></a></b>
                                                          <a id="resulted22_validation" style="display: block"></a></b>
                                                        </div>
                                                      </div>
                                                        <div id="card23" hidden="hidden" class="card m-2">
                                                        <div id="results23_validation" class="card-header">
                                                          <b><a id="result23_validation" style="display: block"></a></b>
                                                          <a id="resulted23_validation" style="display: block"></a></b>
                                                        </div>
                                                        </div>
                                                        <div id="card24" hidden="hidden" class="card m-2">
                                                          <div id="results24_validation" class="card-header">
                                                            <b><a id="result24_validation" style="display: block"></a></b>
                                                            <a id="resulted24_validation" style="display: block"></a></b>
                                                          </div>
                                                          </div>
                                                          <div id="card25" hidden="hidden" class="card m-2">
                                                            <div id="results25_validation" class="card-header">
                                                              <b><a id="result25_validation" style="display: block"></a></b>
                                                              <a id="resulted25_validation" style="display: block"></a></b>
                                                            </div>
                                                            </div>
                                                            <div id="card26" hidden="hidden" class="card m-2">
                                                              <div id="results26_validation" class="card-header">
                                                                <b><a id="result26_validation" style="display: block"></a></b>
                                                                <a id="resulted26_validation" style="display: block"></a></b>
                                                              </div>
                                                              </div>
                                                              <div id="card27" hidden="hidden" class="card m-2">
                                                                <div id="results27_validation" class="card-header">
                                                                  <b><a id="result27_validation" style="display: block"></a></b>
                                                                  <a id="resulted27_validation" style="display: block"></a></b>
                                                                </div>
                                                                </div>
                                                                <div id="card28" hidden="hidden" class="card m-2">
                                                                  <div id="results28_validation" class="card-header">
                                                                    <b><a id="result28_validation" style="display: block"></a></b>
                                                                    <a id="resulted28_validation" style="display: block"></a></b>
                                                                  </div>
                                                                  </div>
                                                                  <div id="card29" hidden="hidden" class="card m-2">
                                                                    <div id="results29_validation" class="card-header">
                                                                      <b><a id="result29_validation" style="display: block"></a></b>
                                                                      <a id="resulted29_validation" style="display: block"></a></b>
                                                                    </div>
                                                                    </div>
                                                                    <div id="card30" hidden="hidden" class="card m-2">
                                                                      <div id="results30_validation" class="card-header">
                                                                        <b><a id="result30_validation" style="display: block"></a></b>
                                                                        <a id="resulted30_validation" style="display: block"></a></b>
                                                                      </div>
                                                                      </div>
                                                                      <div id="card31" hidden="hidden" class="card m-2">
                                                                        <div id="results31_validation" class="card-header">
                                                                          <b><a id="result31_validation" style="display: block"></a></b>
                                                                          <a id="resulted31_validation" style="display: block"></a></b>
                                                                        </div>
                                                                        </div>
                                                                        <div id="card32" hidden="hidden" class="card m-2">
                                                                          <div id="results32_validation" class="card-header">
                                                                            <b><a id="result32_validation" style="display: block"></a></b>
                                                                            <a id="resulted32_validation" style="display: block"></a></b>
                                                                          </div>
                                                                          </div>
                                                                          <div id="card33" hidden="hidden" class="card m-2">
                                                                            <div id="results33_validation" class="card-header">
                                                                              <b><a id="result33_validation" style="display: block"></a></b>
                                                                              <a id="resulted33_validation" style="display: block"></a></b>
                                                                            </div>
                                                                            </div>
                                                                            <div id="card34" hidden="hidden" class="card m-2">
                                                                              <div id="results34_validation" class="card-header">
                                                                                <b><a id="result34_validation" style="display: block"></a></b>
                                                                                <a id="resulted34_validation" style="display: block"></a></b>
                                                                              </div>
                                                                              </div>
                                                                              <div id="card35" hidden="hidden" class="card m-2">
                                                                                <div id="results35_validation" class="card-header">
                                                                                  <b><a id="result35_validation" style="display: block"></a></b>
                                                                                  <a id="resulted35_validation" style="display: block"></a></b>
                                                                                </div>
                                                                                </div>
                                                                                <div id="card36" hidden="hidden" class="card m-2">
                                                                                  <div id="results36_validation" class="card-header">
                                                                                    <b><a id="result36_validation" style="display: block"></a></b>
                                                                                    <a id="resulted36_validation" style="display: block"></a></b>
                                                                                  </div>
                                                                                  </div>
                                                                                  <div id="card37" hidden="hidden" class="card m-2">
                                                                                    <div id="results37_validation" class="card-header">
                                                                                      <b><a id="result37_validation" style="display: block"></a></b>
                                                                                      <a id="resulted37_validation" style="display: block"></a></b>
                                                                                    </div>
                                                                                    </div>
                                                                                    <div id="card38" hidden="hidden" class="card m-2">
                                                                                      <div id="results38_validation" class="card-header">
                                                                                        <b><a id="result38_validation" style="display: block"></a></b>
                                                                                        <a id="resulted38_validation" style="display: block"></a></b>
                                                                                      </div>
                                                                                      </div>
                                                                                      <div id="card39" hidden="hidden" class="card m-2">
                                                                                        <div id="results39_validation" class="card-header">
                                                                                          <b><a id="result39_validation" style="display: block"></a></b>
                                                                                          <a id="resulted39_validation" style="display: block"></a></b>
                                                                                        </div>
                                                                                        </div>
                                                                                        <div id="card40" hidden="hidden" class="card m-2">
                                                                                          <div id="results40_validation" class="card-header">
                                                                                            <b><a id="result40_validation" style="display: block"></a></b>
                                                                                            <a id="resulted40_validation" style="display: block"></a></b>
                                                                                          </div>
                                                                                          </div>
                                                                                          <div id="card41" hidden="hidden" class="card m-2">
                                                                                            <div id="results41_validation" class="card-header">
                                                                                              <b><a id="result41_validation" style="display: block"></a></b>
                                                                                              <a id="resulted41_validation" style="display: block"></a></b>
                                                                                            </div>
                                                                                            </div>
                                                                                            <div id="card42" hidden="hidden" class="card m-2">
                                                                                              <div id="results42_validation" class="card-header">
                                                                                                <b><a id="result42_validation" style="display: block"></a></b>
                                                                                                <a id="resulted42_validation" style="display: block"></a></b>
                                                                                              </div>
                                                                                              </div>
                                                                                              <div id="card43" hidden="hidden" class="card m-2">
                                                                                                <div id="results43_validation" class="card-header">
                                                                                                  <b><a id="result43_validation" style="display: block"></a></b>
                                                                                                  <a id="resulted43_validation" style="display: block"></a></b>
                                                                                                </div>
                                                                                                </div>
            

            






              

         
        
            



        
          </div>
          </div>
              </div>

            
        </div>
      {% include "footer.html" %}
      <style>
        .dot {
          height: 45px;
          width: 45px;
          background-color: #E0E0E0;
          border-radius: 50%;
          display: inline-block;
        }
        .dot2 {
          height: 5px;
          width: 5px;
          background-color: #E0E0E0;
          border-radius: 50%;
          display: inline-block;
        }
        #id_url_link{
          width: 100%;
        }
        #stop-btn {
          pointer-events: none;
        }
        </style>
<script>
  function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
<script>
  function myFunction2() {
  var x = document.getElementById("example");
  if (x.style.display === "inline-flex") {
    x.style.display = "none";
  } else {
    x.style.display = "inline-flex";
  }
}
</script>

<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function updateProgress(yourForm, task_id, btnHtml, bash_out, mapstring, mapvalidation) {
    fetch(`/task_status/?task_id=${task_id}`, {
      method: 'GET',
    })
      .then(response => response.json())
      .then((res) => {
        const taskStatus = res.state;


      if (['SUCCESS', 'FAILURE'].includes(taskStatus)) {
        const msg = yourForm.querySelector('#messages');
        const submitBtn = yourForm.querySelector('button[type="submit"]');

        if (taskStatus === 'SUCCESS') {
          let element0 = document.getElementById('cardinitial');
          element0.removeAttribute("hidden");
          const yourMessage = document.getElementById("results_validation");
            const rsv = yourMessage.querySelector('#result_validation');
            rsv.innerHTML = mapstring
            const rsved = yourMessage.querySelector('#resulted_validation');
            rsved.innerHTML = mapvalidation


        } else if (taskStatus === 'FAILURE') {
          let element0 = document.getElementById('cardinitial');
          element0.removeAttribute("hidden");
          const yourMessage = document.getElementById("results_validation");
            const rsv = yourMessage.querySelector('#result_validation');
            rsv.innerHTML = mapstring
            const rsved = yourMessage.querySelector('#resulted_validation');
            rsved.innerHTML = mapvalidation
          } }else {
          // the task is still running
          setTimeout(function () {
            updateProgress(yourForm, task_id, btnHtml);
          }, 1000);
        }
      })
      .catch((error) => {
        console.error('Error:', error)
      });
  }

  function functionToExecute(){
    document.getElementById("stop-btn").value="no"
    console.log(document.getElementById("stop-btn").value)
    const yourForm = document.getElementById("your-form");
    const submitBtn = yourForm.querySelector('button[type="submit"]');
    const spinnerHtml = 'Validate';
    const msg = yourForm.querySelector('#messages');
    msg.innerHTML = 'validation stopped';
    submitBtn.disabled = false;
    submitBtn.innerHTML = spinnerHtml;

  }
  async function updateProgress2(yourForm, task_id, btnHtml, bash_out, map_out, iteration, mapstring, validation, bname, bid, bversion) {
    fetch(`/task_status/?task_id=${task_id}`, {
      method: 'GET',
    })
      .then(response => response.json())
      .then((res) => {
        const taskStatus = res.state;
      if (['SUCCESS', 'FAILURE'].includes(taskStatus)) {
        const msg = yourForm.querySelector('#messages');
        const submitBtn = yourForm.querySelector('button[type="submit"]');

        if (taskStatus === 'SUCCESS') {
          let resultsvalidationstart = 'results'
          let resultvalidationstart = '#result'
          let resultedvalidationstart = '#resulted'
          let resultsvalidationfinish = '_validation'
          let card = 'card'
          let finalresults = resultsvalidationstart.concat(iteration, resultsvalidationfinish);
          let finalresult = resultvalidationstart.concat(iteration, resultsvalidationfinish);
          let finalresulted = resultedvalidationstart.concat(iteration, resultsvalidationfinish);
          let finalcard = card.concat(iteration)

          let element = document.getElementById(finalcard);
          element.removeAttribute("hidden");
          console.log(finalresults)
          console.log(finalresult)
          console.log(finalresulted)
          const yourMessage = document.getElementById(finalresults);
            const rsv = yourMessage.querySelector(finalresult);
            const rsved = yourMessage.querySelector(finalresulted);
            console.log(map_out[0])
            console.log(map_out[1])
            console.log(iteration)
          if (iteration != '0'){
            rsv.innerHTML = map_out[0]
          }
            rsved.innerHTML = validation
          if (iteration == '0'){
            console.log(map_out[0][0])
            const yourMessage = document.getElementById(finalresults);
            const rsv = yourMessage.querySelector(finalresult);
            rsv.innerHTML = map_out[0][0]
            console.log(iteration)
            console.log(bname)
            const yourBeacon = document.getElementById('beaconparams');
            yourBeacon.removeAttribute("hidden");
            const BeaconName = yourBeacon.querySelector('#beaconName')
            const BeaconId = yourBeacon.querySelector('#beaconId')
            const BeaconVersion = yourBeacon.querySelector('#beaconVersion')
            BeaconName.innerHTML = bname;
            BeaconId.innerHTML = bid;
            BeaconVersion.innerHTML = bversion;
            let elementbid = document.getElementById('bid');
            elementbid.removeAttribute("hidden");
            let elementbname = document.getElementById('bname');
            elementbname.removeAttribute("hidden");
            let elementbversion = document.getElementById('bversion');
            elementbversion.removeAttribute("hidden");
            let elementbreport = document.getElementById('breport');
            elementbreport.removeAttribute("hidden");
          }

        } else if (taskStatus === 'FAILURE') {
          let resultsvalidationstart = 'results'
          let resultvalidationstart = '#result'
          let resultedvalidationstart = '#resulted'
          let resultsvalidationfinish = '_validation'
          let card = 'card'
          let finalresults = resultsvalidationstart.concat(iteration, resultsvalidationfinish);
          let finalresult = resultvalidationstart.concat(iteration, resultsvalidationfinish);
          let finalresulted = resultedvalidationstart.concat(iteration, resultsvalidationfinish);
          let finalcard = card.concat(iteration)

          let element = document.getElementById(finalcard);
          element.removeAttribute("hidden");
          console.log(finalresults)
          console.log(finalresult)
          console.log(finalresulted)
          const yourMessage = document.getElementById(finalresults);
            const rsv = yourMessage.querySelector(finalresult);
            const rsved = yourMessage.querySelector(finalresulted);
            console.log(map_out[0])
            console.log(map_out[1])
            console.log(iteration)
          if (iteration != '0'){
            rsv.innerHTML = map_out[0]
          }
            rsved.innerHTML = validation
          if (iteration == '0'){
            console.log(map_out[0][0])
            const yourMessage = document.getElementById(finalresults);
            const rsv = yourMessage.querySelector(finalresult);
            rsv.innerHTML = map_out[0][0]
            console.log(iteration)
            console.log(bname)
            const yourBeacon = document.getElementById('beaconparams');
            yourBeacon.removeAttribute("hidden");
            const BeaconName = yourBeacon.querySelector('#beaconName')
            const BeaconId = yourBeacon.querySelector('#beaconId')
            const BeaconVersion = yourBeacon.querySelector('#beaconVersion')
            BeaconName.innerHTML = bname;
            BeaconId.innerHTML = bid;
            BeaconVersion.innerHTML = bversion;
            let elementbid = document.getElementById('bid');
            elementbid.removeAttribute("hidden");
            let elementbname = document.getElementById('bname');
            elementbname.removeAttribute("hidden");
            let elementbversion = document.getElementById('bversion');
            elementbversion.removeAttribute("hidden");
            let elementbreport = document.getElementById('breport');
            elementbreport.removeAttribute("hidden");
          }
        }

      } else {
          // the task is still running
          setTimeout(function () {
            updateProgress(yourForm, task_id, btnHtml);
          }, 1000);
        }
      })
      .catch((error) => {
        console.error('Error:', error)
      });
  }
  const sleep = (delay) => new Promise((resolve) => setTimeout(resolve, delay))
  const repeatedGreetings = async (yourForm, btnHtml, bash_out, mapstring, mapping) => {

    for (let i = 0; i < mapping.length; i++) {
            await sleep(5000)
              var width = (i/mapping.length)*100
              console.log(width)
              document.getElementById("myBar").style.width = width + "%";
              document.getElementById("myPercent").innerText = width + "%";
              document.getElementById("myPercentext").innerText = "Verifying...";
              
              

          

          if (document.getElementById("stop-btn").value=="si"){
          const formData2 =new FormData();
          formData2.set('url_link', mapping[i]);

    fetch('/validator/', {
                  method: 'POST',
                  headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                  },
                  body: formData2,
                })
          .then(response => response.json())
          .then((res) => {
            const task_id = res.task_id;
            const map_out = res.map_out;
            const iteration = i.toString();
            const validation = res.validation;
            const bname = res.beaconName;
            const bid = res.beaconId;
            const bversion = res.beaconVersion;
            updateProgress2(yourForm, task_id, btnHtml, bash_out, map_out, iteration, mapstring, validation, bname, bid, bversion)
            console.log(res);
          })
          .catch((error) => {
            console.error('Error:', error)
          })};

        
        }
        const submitBtn = yourForm.querySelector('button[type="submit"]');
        const spinnerHtml = 'Validate';
        document.getElementById("myBar").style.width = "100" + "%";
        document.getElementById("myPercent").innerText = "100" + "%";
        document.getElementById("myPercentext").innerText = "Validation completed";
        submitBtn.disabled = false;
        submitBtn.innerHTML = spinnerHtml;
      
      }
  document.addEventListener("DOMContentLoaded", function () {


    const yourForm = document.getElementById("your-form");
    yourForm.addEventListener("submit", function (event) {
      document.getElementById("myPercentext").innerText = "Verifying...";
      event.preventDefault();
      const submitBtn = yourForm.querySelector('button[type="submit"]');
      const btnHtml = submitBtn.innerHTML;
      const spinnerHtml = 'Validating...';
      submitBtn.disabled = true;
      document.getElementById("primerbutton").style.backgroundColor = "#ddd";
      document.getElementById("primerbutton").style.pointerEvents = "none";
      document.getElementById("stop-btn").style.backgroundColor = "#CF7C3F";
      document.getElementById("stop-btn").style.pointerEvents = "all";
      document.getElementById("pdot").style.backgroundColor = "#636363";
      document.getElementById("dot21").style.backgroundColor = "white";
      document.getElementById("dot22").style.backgroundColor = "white";
      document.getElementById("dot23").style.backgroundColor = "white";


      const msg = yourForm.querySelector('#messages');
      msg.innerHTML = '';

      // Get all field data from the form
      const formData = new URLSearchParams(new FormData(yourForm));
      console.log(formData);

      fetch('/validator/', {
        method: 'POST',
        headers: {
          'X-CSRFToken': getCookie('csrftoken'),
        },
        body: formData,
      })
        .then(response => response.json())
        .then((res) => {
          // after we get Celery task id, we start polling
          const task_id = res.task_id;
          const bash_out = res.bash_out;
          const mapstring = res.map;
          const mapvalidation = res.validation;
          console.log(mapstring)
          
          updateProgress(yourForm, task_id, btnHtml, bash_out, mapstring, mapvalidation);
          console.log(res);
          const mapping = bash_out
          console.log(mapping)

          

          
          repeatedGreetings(yourForm, btnHtml, bash_out, mapstring, mapping);


          
        })
        
        .catch((error) => {
          console.error('Error:', error)
        });

    });

  });

</script>
</body>
</html>

