{% extends "base.html" %}

{% load static %}


{% block content %}
            <div class="col-4 reduce greyform" style="background-color: #EEEEEE;">
          

              <div class="row">
                <div class="col reduce">
                  <div class="row">
                  </div>
                                    <div class="circle-wrapper">

                    <div class="dashed-line"></div>
                    <div class="dashed-line2"></div>
                    <div class="dashed-line3"></div>

                    <div class="circle-container">

                      <div class="circle-item">
                        <div class="circlegreen">1</div>
                        <span class="circle-label">Settings</span>
                      </div>

                      <div class="circle-item">
                        <div class="circlegrey">2</div>
                        <span class="circle-label">Endpoints</span>
                      </div>

                      <div class="circle-item">
                        <div class="circlegrey">3</div>
                        <span class="circle-label">Datasets</span>
                      </div>

                      <div class="circle-item">
                        <div class="circlegrey">4</div>
                        <span class="circle-label">Summary</span>
                      </div>

                    </div>
                  </div>
                    <form method="post" class="formsettings">
                        {% csrf_token %}

                        
                            {% for f in form %}
                            {% if f.name == "url_link" %}
                                <b>{{ f.help_text|safe }} {{ f }}</b>
                            {% endif %}
                            {% endfor %}
                              <div class="toggle-inline">
                                  <span>Test Mode</span><span>Off</span>

                                  {% for f in form %}
                                      {% if f.name == "test_mode" %}
                                          {{ f }}
                                      {% endif %}
                                  {% endfor %}

                                  <span>On</span>
                              </div>
                        <div style="margin-right:10px;">
                          <span class="granu">Granularity</span>
                          <span class="granu2">Response Type</span>
                      <div class="settings-box">
                        
                          {% for f in form %}
                              {% if f.name != "test_mode" and f.name != "url_link" %}
                                  <div class="setting-item">

                                      {{ f }}
                                  </div>
                              {% endif %}
                          {% endfor %}
                      </div>
                      </div>


                </div>

              </div>

                    <div class="mb-3" id="messages"></div>
                    <button id="primerbutton" name="settings" onclick="document.getElementById('myPercentext').innerText = 'Verifying...'"" type="submit" class="vbut bi bi-play" style="  background-color: #40946C;
                    border: none;
                    width: 48%;
                    color: white;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 100px;"> Next</button>
                  <div style="margin-top: 30px;">
                    
                </div>
                


                <div class="association" style="position: absolute; top: 75vh; left: 65px; max-width: 400px;">

                  <p style="margin-bottom: 0px"><b style="font-weight: 12px;">In association with:</b></p>
                  <img src="{% static 'logo.png' %}" alt="EGA" height="40px" style="padding-right: 10px;">
                  <img src="{% static 'bsc.webp' %}" alt="BSC" height="60px" style="padding-right: 10px;">
                  <img src="{% static 'elixir.png' %}" alt="Elixir" height="50px" style="padding-right: 10px;">
                  <img src="{% static 'GA-logo.png' %}" alt="GA4GH" height="40px" style="padding-right: 10px;">
                  <img src="{% static 'Ebi_official_logo.png' %}" alt="EBI" height="40px" style="padding-right: 10px;">
                  
                </div>
                  
                  </form>





                  
            </div>

            </div>
                
              
                
            </div>  
            

         
        
            



        

{% endblock %}  