{% extends "base.html" %}

{% load static %}


{% block content %}
            <div class="greyform" style="background-color: #EEEEEE;">
          

              <div class="row">
                <div class="col reduce">
                  <div class="row">
                  </div>
                                    <div class="circle-wrapper">

                    <div class="dashed-line"></div>
                    <div class="dashed-line2"></div>
                    <div class="dashed-line3"></div>

                    <div class="circle-container">

                      <div class="circle-item">
                        <div class="circlegreen">1</div>
                        <span class="circle-label">Settings</span>
                      </div>

                      <div class="circle-item">
                        <div class="circlegreen">2</div>
                        <span class="circle-label">Endpoints</span>
                      </div>

                      <div class="circle-item">
                        <div class="circlegreen">3</div>
                        <span class="circle-label">Datasets</span>
                      </div>

                      <div class="circle-item">
                        <div class="circlegreen">4</div>
                        <span class="circle-label">Summary</span>
                      </div>

                    </div>
                  </div>
                  <div class="verificationtable">
                  <div><b>Verification Settings</b></div>
                                    <div><b>API URL:</b> {{endpoint_url}}</div>
                                    <div><b>Test Mode:</b> {{test_mode}}</div>
                                    <div><b>Granularity:</b> {{granularity}}</div>
                                    <div><b>Response Type:</b> {{include}}</div>
                                    <div><b>Endpoints:</b> {{endpoints}}</div>
                                    <div><b>Datasets:</b> {{datasets}}</div>
                </div>
                </div>

                    <div class="buttonwrapper">
                    <button id="primerbutton" name="backendpoints" type="submit" class="nextbuttonendpoints" onclick="window.history.back()"> <span class="bi bi-arrow-left"></span><span>Back</span></button>
                    <button id="primerbutton" name="datasets" value="{{ url }}" onclick="document.getElementById('myPercentext').innerText = 'Verifying...'" type="submit" class="nextbuttonendpoints"> <span>Next</span><span class="bi bi-arrow-right"> </span></button>
                    </div>
                    <div style="margin-top: 30px;">
                    
                </div>
                


                  
                  </form>





                  
            </div>

            </div>
                
              
                
            </div>  
            

         
        
            



        

{% endblock %}  